@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 0.4fr 4fr;
    grid-template-areas: "header header"
    "navbar body";
}

#header {
    grid-area: header;
}

#navBar {
    grid-area: navbar;
}

#form {
    grid-area: body;
}

#mealPlanContainer {
    grid-area: navbar;
}

#container {
    display: flex;
    flex-direction: column;
}
#mealContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

#meals {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
